* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body 
{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 25px;
}

h1 {
    color: #30d5c8;
}

form {
    background-color: #0047ab;
    padding: 25px;
    margin-bottom: 15px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #806b2a;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    background-color: #fff;
    color: rgb(11, 11, 11);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #30d5c8;
}

.contract-cards {
    display: flex;
    flex-wrap: wrap;
}

.contract-card {
    width: calc(34.73% - 20px);
    background-color: #F0E68C;
    color: #111;
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
}

.contract-card img {
    width: 100%;
    margin-bottom: 15px;
}